.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.response-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 50px;
}

#error-box {
  width: 50vw;
}

.card-container {
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  #device-error {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: black;
    color: red;
    /* border: 1px solid #f5c6cb; */
    border-radius: 5px;
  }

  header {
    display: none;
  }

  main {
    display: none;
  }
}
